/* 全体のデザイン */
* {
  box-sizing: border-box;
  max-width: 100%;
}

/* body */
body {
 margin: 0;
}

.top-container img {
  width: 100%;
}

.cource-container {
  margin: 50px 0;
}

.cource-premium {
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: sandybrown;
}

.cource-analysis {
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: gold;
}

.image img{
  height: 200px;
  width: 60%;
  text-align: center;
  line-height: 50px;
}

/* クーポンメニュー */
.underground {
  height: 3000px;
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
}

.cource-coupon {

}

.coupon-container {
  height: 1000px;
  width: 60%;
  background-color: white;
  margin: 0 auto;
}

.coupon-title {
  height: 200px;
  width: 100%;
  background-color: brown;
}

.coupon-menu {
  
}

.coupon-menu img {
  height: 250px;
  width: 200px;
}

.coupon-btn {
  height: 200px;
  width: 60%;
  background-color: white;
  margin: 0 auto;
}

.coupon-btn btn {
  
}

.reserve {
  color: white;
  background-color: green;
}

.reserve:hover {
  opacity: 0.7;
  transition: all 0.5s;
}

.reserve span {
    
}

.menu {
  color: orange;
  background-color: white;
  border-color: 3px orange;
}

.menu:hover {
  transform: rotate(90deg);
}

.right-arrow {
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-color: black black transparent transparent;
  transform: rotate(45deg);
}

.bottom-arrow {
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-color: transparent black black transparent;
  transform: rotate(45deg);
}

/* コロナ対策 */
.covid-container {
  height: 1000px;
  width: 60%;
  margin: 0 auto;
}
