/* 全体のデザイン */
* {
  box-sizing: border-box;
  max-width: 100%;
}

/* body */
body {
 margin: 0;
}

.top-container img {
  width: 100%;
}

.cource-container {
  text-align: center;
}

.cource-premium,cource-analysis {
  height: 400px;
  width: 100%
}

.cource-premium {
  background-color: brown;
}

.cource-analysis {
  background-color: gold;
}

.image img{
  height: 200px;
  width: 60%;
}
